<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>SHSAT admissions information</title>
  <meta name="author" content="You">
  <meta name="description" content="SHSAT schools offers by race">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="styles.css">
</head>

<body>
   <%- include ('global/nav');  %>

  <header>
    <h1>SHSAT schools</h1>
  </header>
  <section id="charcter-table">
    <table>
      <% for(school in data){ %>
      <tr>
        <td><a href="<%=data[school].link%>.html"><%= school %></a></td>
        <td><%= data[school].name %></td>
      </tr>
      <%}%>
      <td><a href="about.html"> about </a></td>

    </table>
  </section>

  <!-- <%- include ('global/footer');  %> -->

</body>

</html>
